/**
 * Basic variables for colors, borders, animations and font sizes.
 */

/**
 * COLOR SETTINGS
 */
$color-headings: hsla(200, 10%, 10%, 1);
$color-links: hsla(4, 89%, 57%, 1);

/**
 * ANIMATION
 */
$base-transition: all 0.25s ease-in-out;

/**
 * FONT SETTINGS
 *
 * Preset with modular scale of 1.333 (Perfect fourth).
 * Choose scale at http://www.modularscale.com or http://type-scale.com
 */

/**
 * Basic font settings.
 */
$inuit-base-font-size: 16px;
$inuit-base-line-height: 23px;


/**
 * Heading sizes
 *
 */
$inuit-heading-size-1:  37.897px;
$inuit-heading-size-2:  28.43px;
$inuit-heading-size-3:  21.328px;
$inuit-heading-size-4:  16px;
$inuit-heading-size-5:  12.003px;
$inuit-heading-size-6:  9.005px;
